body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.ready-light {
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: red;
	margin: 0 0 30px 0;
	-webkit-transition: all 0.6s ease-out;
			transition: all 0.6s ease-out; 
}
.ready-light.active {
	background: green;
}
a {
  color: #00B7FF;
}
.clear {
	float: none;
	clear: both;
}
.task-wrapper {
	padding: 10px;
	background: #D9F2FA;
	margin: 0 0 20px;
	position: relative;
}
.remove {
	position: absolute;
	cursor: pointer;
	right: 10px;
	top: 10px;
	z-index: 10;
}
.remove:hover {
	color: red;
}
button,
input[type=submit],
input[type=button] {
	border: 1px solid #49A9C9;
	color: #49A9C9;
	background: #fff;
	font-size: 16px;
	padding: 5px 15px;
	min-width: 200px;
	cursor: pointer;
}
button:hover,
input[type=submit]:hover,
input[type=button]:hover {
	background: #D9F2FA;
}
select,
textarea,
input[type=text] {
	font-size: 16px;
	padding: 5px 15px;
	border: 1px solid #49A9C9;
	width: 415px;
}
select.half,
input.half {
	width: 200px;	
}
.task-form-line {
	display: block;
	margin: 0 0 10px;
	position: relative;
}
.task-form-line label {
	display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
	vertical-align: top;
	margin: 0 10px 0 0;
}
.task-form-line label span {
	display: block;
	padding: 0 0 4px;
	color: #206F8A;
}
.remove-inline {
	position: absolute;
	right: 0;
	top: 20px;
	cursor: pointer;
}
.remove-inline:hover {
	color: red;
}
.ng-invalid {
	border-color: red !important;
}
.task-wrapper.passive {
	position: relative;
}
.task-wrapper.passive:before {
	content: '';
	width: 100%;
	height: 100%;
	background: RGBA(0,0,0,0.7);
	top: 0;
	left: 0;
	position: absolute;
	z-index: 9999;
}